<div class="card">
    <div onclick="location.href='/product/{{_id}}';" class="picture">
        <img src='/{{thumbnail}}' alt="">
    </div>
    <div  class="card-body">
        <div onclick="location.href='/product/{{_id}}';" class="link">
            <h2>{{name}}</h2>
            <p>{{snippet}}</p>
            <p class="rating"><i class="fas fa-star"></i> {{rate}}</p>
        </div>
            <div class="price">

                {{#if promo}}
                <h5>{{sold_price}}MAD</h5>
                <h5 class="before-promo">{{normalPrice}} MAD</h5>
                {{else}}
                <h5>{{normalPrice}} MAD</h5>
                {{/if}}

            </div>
        <a class="primary-btn" onclick="Createpopup('{{_id}}')" >Add to Cart</a>
    </div>

    {{#if promo }}

    <div class="promo">
        <h4 style="margin: 0;">PROMO -{{promo}}%</h4>
    </div>
    {{/if}}
</div>
