<div class="card">
    <div class="picture">
        <img src="https://pcbonlineshop.com/var/photo/product/2000x4000/4/176/4.jpg" alt="">
    </div>

    <div class="card-body">
        <h2>{{product.name}}</h2>
        <p>{{product.snypet}}</p>
        <p class="rating"><i class="fas fa-star"></i> {{product.rate}}</p>
        <div class="price">
            {{!-- ############---start of: don't know if i can mplement this---####### --}}
            {{#if product.promo > 0 }}
                <script>
                    let price = {{product.normalPrice}}-{{product.normalPrice}}*{{product.promo}}/100;
                    document.body.innerHTML = "<h5>" + price + " MAD</h5>"
                </script>
                <h5 class="before-promo">{{normalPrice}} MAD</h5>
            {{else}}
                <h5>{{normalPrice}}$</h5>
            {{/if}}
            {{!-- ############---end of: don't know if i can mplement this---####### --}}
        </div>
        <a class="primary-btn" href="#">Add to Cart</a>
    </div>
    {{!-- ############---start of: don't know if i can mplement this neither xD ---####### --}}
    {{#if product.promo > 0 }}
    {{!-- ############---end of: don't know if i can mplement this neither xD ---####### --}}
    <div class="promo">
        <h4 style="margin: 0;">PROMO -{{product.promo}}%</h4>
    </div>
    {{/if}}
</div>